
<center>
  <h4>Aqui está o resultado</h4>
    <p style="position: relative;color: blue;text-align: center; font-weight: bold;">
      Escolha um termo da wordcloud para visualizar as reviews associadas ao termo. 
    </p>
</center>

<center><img src="/img/wordcloud_food.png" alt="wordcloud-ifood"></center>

  <center>
    <a href="/results"><button class="button">Next</button>
  </center>
