
<center><img src="/img/wordcloud.jpg" alt="wordcloud" width="400px" height="300px"><img src="/img/reviews.png" class="figure" alt="wordcloud" width="400px" height="250px" ></center>

  <center>
    <button class="btn">Download</button>
    <a href="/"><button class="btn">Other App</button>
  </center>
   