

    
    <center><h1>Super Mining Reviews <a href="help.html"></a></h1>
    </center>

    <center><iframe width="350" height="200" src="https://www.youtube.com/embed/0AWib-kaddw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
     <center>
    <p style="position: relative;color: blue;text-align: center; font-weight: bold;"> 
      O Mining Reviews é uma ferramenta que identifica os termos mais frequentes nos feedbacks dos usuários de aplicações móveis. <a href="/sobre">Saiba mais</a></p>
      </center>
     
    

        <fieldset style="position: relative; text-align: center;color:black;">
            <legend> Selecione a aplicação a qual você deseja analisar</legend>
            <select name="area">
                <option value="0">None</option>
                <option value="1">Ifood</option>
                <option value="2">Uber</option>
                <option value="3">Netflix</option>
                <option value="4">WhatsApp</option>
                <option value="5">AirBnb</option>
                <option value="6">Méliuz</option>
                <option value="7">Linkedin</option>
                <option value="8">CoinMaster</option>
                <option value="9">Itaú</option>
                <option value="10">Instagram</option>    
            </select>   
    
        <a href="/ifood"><button class="button">OK</button>
                 
        </fieldset>


   
