

    
    <center><h1>Super Mining Reviews <a href="help.html"></a></h1>
    </center>

    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/0AWib-kaddw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <p style="position: relative;color: blue;text-align: center; font-weight: bold;"> O Mining Reviews é uma ferramenta que pode ajudar a identificar as palavras mais relevantes a partir de feedbacks.   </p>
    
    

        <fieldset style="position: relative; text-align: center;color:black;">
            <legend> Selecione a aplicação desejada para minerar</legend>
            <select name="area" onchange="location = this.value;">
                <option value="1">None</option>
                <option value="/ifood">Ifood</option>
                <option value="2">Uber</option>
                <option value="3">Netflix</option>
                <option value="4">WhatsApp</option>
                <option value="5">AirBnb</option>
                <option value="6">Méliuz</option>
                <option value="7">Linkedin</option>
                <option value="8">CoinMaster</option>
                <option value="9">Itaú</option>
                <option value="10">Instagram</option>    
            </select>   
           <button>OK</button>
        
                 
        </fieldset>


   
