<center><img src="/img/wordcloud.jpg" alt="wordcloud" width="400px" height="300px"><img src="/img/baixar.png" class="figure" alt="wordcloud" width="400px" height="250px" ></center>

<center>
    <a href="/"><button class="button">Outro App</button>
</center>
   