<p>
    <center>
        <img src="/img/logo.jpg" alt="logo" width="100px" height="100px">
    </center>
</p>


<div>

<p>A ferramenta Mining Reviews foi desenvolvida a partir de um projeto de iniciação cientifíca, com o intuito de ajudar 
    os desenvolvedores e as pessoas interessadas no projeto, a minerar os comentários de usuários em aplicativos, trazendo como resultado
    as reviews mais relevantes citadas pelos usuários da aplicação escolhida. 
</p>

<p>
    A ferramenta funciona de modo a fazer a mineração dos comentários na aplicação desejada e como resultado retorna uma word cloud das palavras
    mais relevantes dos comentários extraídos, de modo a exibir uma visualização das features mais relevantes do aplicativo escolhido. 
</p>

<p>
    Desse modo, os desenvolvedores e as pessoas interessadas tem a oportunidade de conhecer o que realmente os seus usuários pensam a respeito do serviço oferecido, assim como notar bugs e correções
    as quais ainda não tinham sido notadas na plicação pelos desenvolvedores. 
</p>

</div>