
<link rel="stylesheet" href="/public/scss/styles.scss">

<center> <h1>Mining Reviews</h1> </center>


<p>
    <center>
        <img src="/img/imagem.png" alt="logo" width="450px" height="350px">
    </center>
</p>


<div>

<center>
    <p>
        Na página principal, você deve selecionar no menu de lista uma aplicação e clicar no botão "OK".
Você será redirecionado(a) à uma página com o resultado que é uma WordCloud, que mostra todas as palavras principais dos comentários de usuários da aplicação que você selecionou.
Nesta WordCloud as palavras estão dispostas em tamanhos proporcionais à frequência com que aparecem nos comentários.
<br>
Você pode selecionar qualquer palavra na WordCloud. Ao selecionar alguma palavra, será exibida uma aba ao lado da WordCloud com todos os comentários em que tal palavra foi citada.
Nesta aba dos comentários, você poderá fazer o Download de todos este comentários referentes à palavra selecionada, basta clicar no botão "Download" no canto inferior direito.
    </p>
    <!-- 
<p>A ferramenta Mining Reviews foi desenvolvida a partir de um projeto de iniciação cientifíca,
    com o intuito </br> de ajudar os desenvolvedores e as pessoas interessadas no projeto,
    a minerar os comentários de usuários em aplicativos,  </br> trazendo como resultado 
    as reviews mais relevantes citadas pelos usuários da aplicação escolhida. 
</p>

<p>
    A ferramenta funciona de modo a fazer a mineração dos comentários na aplicação desejada e como resultado retorna uma word cloud das palavras
    mais relevantes dos comentários extraídos, de modo a exibir uma visualização das features mais relevantes do aplicativo escolhido. 
</p>

<p>
    Desse modo, os desenvolvedores e as pessoas interessadas tem a oportunidade de conhecer o que realmente os seus usuários pensam a respeito do serviço oferecido, assim como notar bugs e correções
    as quais ainda não tinham sido notadas em suas aplicações. 
</p>

-->
</center>
</div>